img {
  display: block;
  width: 270px;
  height: 150px;
  object-fit: cover;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px;
  row-gap: 20px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b8860b;
  padding: 25px 0;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #212121;
}

.info {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 12;
}

.lighbox {
  color: black;
  text-decoration: none;
}

.photo-card {
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
